#aside1{
	border:3px solid black;
	padding:3px;
	margin:3px;
	background-color:none;
	width:8.8%;
	float:left;
	text-align:center;
	position:fixed;
	margin-top:5%;
	padding-bottom:0.6%;
}

div{
	text-align: center;

}

div > h3{
	text-align: center;
}


#contenido{
	margin-left: 10%;
	border: black;
  	border:;
  	padding: 2%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: 484848;
}
h2{
	text-align:center;
}
#valoraciones article{
	width:80%;
	background:#8e8e8e;
	display:block;
	margin:auto;
}
#valoraciones article:last-child{
	display:block;
}
.name{
	text-align:right;
}
#añadir{
	width:16.3%;
}
#nombre{
	width:16.1%;
}
article p{
	padding:0.6%;
}
p {
  text-indent: 2%;
  text-align: center;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: #008CBA;
}

/*Estilos de FAQ*/
.pregunta {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .pregunta:hover {
  background-color: #ccc;
}

.pregunta:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.respuesta {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}