#aside1{
	border:3px solid black;
	padding:3px;
	margin:3px;
	background-color:none;
	width:8.8%;
	float:left;
	text-align:center;
	position:fixed;
	margin-top:5%;
	padding-bottom:0.6%;
}

div{
	text-align: center;

}

div > h3{
	text-align: center;

}


#contenido{
	margin-left: 10%;
	border: black;
  	border:;
  	padding: 2%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: 484848;
}

p {
  text-indent: 2%;
  text-align: center;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: #008CBA;
}
