body{
	background:#e6e6e6;
}

/*BARRA SUPERIOR*/

#topbar{
	display:flex;
}

/*TITULO*/

#topbar h1{
	text-align:center;
	color:green;
	font-size:42px;
	font-family:Courier,arial,helvetica,sans-serif;
	display:inline-block;
	justify-content:center;
	margin-left:43%;
}

/*MENU SUPERIOR DERECHO*/

#topbar ul{ 
	display:inline-block;
	display:flex;
	list-style:none;
	margin-left: 20%;
}
#topbar ul li{  /* cada elemento del menu de superior derecho*/
	flex-wrap:no-wrap;
	padding:10px;
	margin:10px;
	font-size:1em;
}

/*FIN BARRA SUPERIOR*/

/*SLIDESHOW*/

#slideshow *{
	padding:0px;
	margin:0px;
}
#slideshow img {
	width:700px;
	height:500px;
}
#slideshow {
	width:700px;
	margin: 30px auto;
	overflow:hidden;
}
#slideshow ul {
	list-style:none;
	width:2800px;
	display:flex;
	animation:slide 20s infinite alternate;
}
@keyframes slide{
	0%{margin-left:0px;}
	0%{margin-left:0px;}
	20%{margin-left:0px;}
	
	25%{margin-left:-700px;}
	45%{margin-left:-700px;}
	
	50%{margin-left:-1400px;}
	70%{margin-left:-1400px;}
	
	75%{margin-left:-2100px;}
	100%{margin-left:-2100px;}
}

/*FIN SLIDESHOW*/

/*MENU CONTINENTES*/

header{
	width:90%;
	max-width:1600px;
	margin:auto;
}
nav{
	background-color:#528fd5;
	position:relative;
	margin-top:20px;
}

nav ul{
	list-style:none;
	overflow:hidden;
	padding:0;
	margin:0;
	display:flex;
}	
nav > ul > li{
	float:left;
	flex:1;
	justify-content:center;
	text-align:center;
	font-size:18pt;
}
nav ul li a{
	color:#fff;
	display:block;
	text-decoration:none;
	padding:10px 20px;
}
nav ul li a:hover {
	background:#3669a3;
}
nav > ul > li:hover div{
	display:table;
}

/*SUBMENU*/

nav ul li div{
	width:1600px;
	position:absolute;
	left:0;
	background:#ccc;
	box-sizing:border-box;
	display:none;
}
nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;
}
nav ul li div ul:last-child {
	border:none;
}
nav ul li div ul .titulosub {
	background:#000;
	color:#fff;
}
nav ul li div ul .titulosub a {
	color:#fff;
	padding:10px 20px;
}
.titulosub.azul {background:#3498db;}
.titulosub.verde {background:#27ae60;}
.titulosub.rojo {background:#c0392b; color;#000;}
nav ul li div ul .titulosub a:hover {
	background:none;
}
nav ul li div ul li a {
	color:#000;
}
nav ul li div ul li a:hover {
	color:#fff;
}

/*FIN MENU CONTINENTES*/

main{
	display:inline;
	display:flex;
	justify-content:center;
	justify-content:space-between;
	flex-direction:row;
}
section{
	display:inline-block;
	font-size: 2em;
	text-align: center;
	width: 45%;
	padding: 10px;
	margin: 10px;
	background-color: #04B486;
}
#ranking{
	flex-wrap: wrap;

}
aside{
	border:5px solid black;
	padding:10px;
	margin:10px;
	background-color:#FF8000;
	width:20%;
	float:right;
	text-align:center;
}





