/*INDICE IZQUIERDA*/

#aside1{
	border:3px solid black;
	padding:3px;
	margin:3px;
	background-color:none;
	width:8.8%;
	float:left;
	text-align:center;
	position:fixed;
	margin-top:5%;
	padding-bottom:0.6%;
}

/*FIN INDICE*/

#img1{
    width:50%;
	padding:0px,10px,10px;
	height:520px;
	margin:30px auto;
	display:block;
    
	
}
#cabecera img{
	text-align:center;
	height:9em;
	font-family:algerian;
	margin:auto;
	display:block;

}
h2{
	text-align:center;
	font-weight:900;
	
}
#slideshow *{
	padding:0px;
	margin:0px;
}
#slideshow img {
	width:100%;
	height:100%;
}
#slideshow {
	margin-top:0.6%;
	width:100%;
	height:3%;
	overflow:hidden;
	margin-left:10%;
}
#slideshow ul {
	list-style:none;
	width:100%;
	display:flex;
}
#seccion1{
	background-color:rgb(223,240,159);
	height:5%;
	display:flex;
	margin-top:1%;	
}
#slidebar{
	width:60%;
	margin:auto;
	height:5%;
	
}
body div {
	background:rgba(223,240,159);
	
	
}
#seccion1 button{
	display:block;
	height:10em;
	margin-top:12%;
}
#ant{
	margin-left:15%;
}
#sig{
	margin-right:15%;
}
#seccion3{
	margin-top:3px;
}

#seccion3 > div article{
	width:80%;
	background:#8e8e8e;
	display:block;
	margin:auto;
}
#seccion3 > div article:hover{
	box-shadow: 3em 0em 6em #939393;
	background:#484848;
}
#seccion3 > div article > h1{
	padding:0.4em;
	padding-bottom:0;
}
#seccion3 > div article img{
	width:25%;
	height:25%;
	padding-left:1%;
}
#seccion3 > div article ul{
	display:inline-block;
	line-height:180%;
	border:1px solid black;
	margin-left:1%;
	padding:1.3%;
	margin-top:0;
}
#seccion3 > div > h1{
	text-align:center;
}
#seccion3 > div > a{
	color:#000;
	text-decoration:none;
}
#seccion3 > div > a:hover{
	color:#fff;
}

nav{
	color:#000000;
	text-align:center;

