#img1{
    width:50%;
	padding:0px,10px,10px;
	height:520px;
	margin:30px auto;
	display:block;
    
	
}
header h1{
	text-align:center;
	font-size:45px;
	color:rgba(21,93,193,0.81);
	font-family:algerian;
	background:rgb(240,129,67);
	
}
h2{
	text-align:center;
	font-weight:900;
	
}
#seccion1{
	background-color:rgb(201,244,71);
	height:5%;
	display:flex;
	
}
#slidebar{
	width:60%;
	margin:auto;
	height:5%;
	
}
body div {
	background:rgba(25,19,71);
	
	
}
footer{
	text-align:center;
}
#footer{
	margin:10px;
	font-size:25px;
}
#seccion1 button{
	display:block;
	height:10em;
	margin-top:12%;
}
#ant{
	margin-left:15%;
}
#sig{
	margin-right:15%;
}
#seccion3{
	margin-top:3px;
}
#popular article{
	width:80%;
	background:#484848;
	display:block;
	margin:auto;
}
#popular article > h1{
	padding:0.4em;
}
#popular article img{
	width:25%;
	height:25%;
	padding:0.2em;
}
#seccion3 > div > h1{
	text-align:center;
}
nav{
	color:#fff;
	text-align:center;
}
